.profile__edit-button {
  margin: 0;
  padding: 0;
  position: absolute;
  right: -49px;
  top: 16px;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/Edit_normal.svg);
  background-position: center center;
  background-color: transparent;
  background-size: cover;
  border: 0;
  cursor: pointer;
  transition: opacity 0.5s, width 1s, height 1s, scale 0.85s;
}
@media screen and (max-width: 480px) {
  .profile__edit-button {
    position: absolute;
    right: -28px;
    top: 9px;
    width: 18px;
    height: 18px;
    background-size: cover;
  }
}
.profile__edit-button:hover {
  opacity: 60%;
}
.profile__edit-button:active {
  transform: scale(0.95);
}
