.profile__edit-button {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/Edit_normal.svg);
  background-position: center center;
  background-color: transparent;
  background-size: cover;
  border: 0;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 15px;
  transition: opacity 0.5s, width 1s, height 1s, scale 0.85s;
}
@media screen and (max-width: 480px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: cover;
    margin-left: 11px;
    margin-top: 0;
  }
}
.profile__edit-button:hover {
  opacity: 60%;
}
.profile__edit-button:active {
  transform: scale(0.95);
}
