.profile__profile-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  max-width: 80%;
  position: relative;
  align-items: flex-start;
}
@media screen and (max-width: 700px) {
  .profile__profile-info {
    justify-content: center;
    align-items: center;
  }
}

