.profile__profile-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  max-width: 90%;
  position: relative;
  align-items: flex-start;
}
@media screen and (max-width: 700px) {
  .profile__profile-info {
    justify-content: center;
    align-items: center;
    max-width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .profile__profile-info {
    width: 80%;
  }
}
