.popup__close {
  display: block;
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
  right: -40px;
  top: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/Close_normal.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: opacity 0.3s, right 1s, height 1s, width 1s, scale 0.85s;
}
@media screen and (max-width: 700px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
  }
}
.popup__close:hover {
  opacity: 60%;
}
.popup__close:active {
  transform: scale(0.95);
}
