.elements__like-button {
  display: block;
  margin: 0;
  padding: 0;
  /* margin-right: 20px; */
  width: 22px;
  border: none;
  height: 19px;
  background-image: url(../../../images/Like_state_normal.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  grid-area: like;
  transition: opacity 0.5s, transform 0.1s;
  cursor: pointer;
}
.elements__like-button:hover {
  opacity: 80%;
}
.elements__like-button:active {
  transform: scale(0.9);
}
