@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
.main {
  background-color: black;
  font-family: "Inter", Verdana, sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page {
  max-width: 880px;
  padding: 45px 19px 60px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: padding 1s;
}
@media screen and (max-width: 480px) {
  .page {
    padding: 28px 0 36px;
  }
}
.page__header {
  margin-bottom: 40px;
}
@media screen and (max-width: 480px) {
  .page__header {
    margin-bottom: 42px;
  }
}
@media screen and (max-width: 480px) {
  .page__content {
    padding: 0 19px;
  }
}
.page__profile {
  margin-bottom: 50px;
}
@media screen and (max-width: 480px) {
  .page__profile {
    margin-bottom: 36px;
  }
}
.page__elements {
  margin-bottom: 66px;
}
@media screen and (max-width: 480px) {
  .page__elements {
    margin-bottom: 49px;
  }
}
.page__footer {
  margin: 0 19px;
}
@media screen and (max-width: 480px) {
  .page__footer {
    padding: 0 19px;
  }
}

.header {
  flex-grow: 1;
  border-bottom: 1px solid rgb(84, 84, 84);
}
.header__logo {
  margin: 0;
  padding: 0;
  width: 142px;
  margin-bottom: 37px;
  transition: width 1s, padding 1s;
}
@media screen and (max-width: 700px) {
  .header__logo {
    width: 103px;
  }
}
@media screen and (max-width: 480px) {
  .header__logo {
    padding: 0 28px;
    margin-bottom: 28px;
  }
}

.content {
  font-family: "Inter", Verdana, sans-serif;
  color: white;
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.profile {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  grid-template-rows: auto;
  align-items: center;
  justify-items: start;
  gap: 30px;
}
@media screen and (max-width: 700px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    gap: 26px;
  }
}
.profile__photo {
  max-width: 120px;
  object-fit: cover;
  border-radius: 50%;
}
.profile__profile-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@media screen and (max-width: 700px) {
  .profile__profile-info {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .profile__profile-info {
    justify-content: center;
    align-items: center;
  }
}
.profile__name {
  margin: 0;
  padding: 0;
  font-family: "Inter", Verdana, sans-serif;
  color: white;
  margin-bottom: 8px;
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  transition: font-size 1s, margin 1s;
}
@media screen and (max-width: 700px) {
  .profile__name {
    margin-bottom: 14px;
  }
}
@media screen and (max-width: 480px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 7px;
  }
}
.profile__edit-button {
  margin: 0;
  padding: 0;
  position: absolute;
  right: -49px;
  top: 16px;
  width: 24px;
  height: 24px;
  background-image: url(../images/Edit_normal.svg);
  background-position: center center;
  background-color: transparent;
  background-size: cover;
  border: 0;
  transition: opacity 0.5s, width 1s, height 1s;
}
@media screen and (max-width: 480px) {
  .profile__edit-button {
    position: absolute;
    right: -28px;
    top: 9px;
    width: 18px;
    height: 18px;
    background-size: cover;
  }
}
.profile__edit-button:hover {
  opacity: 60%;
}
.profile__job {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: font-size 1s, margin 1s;
}
@media screen and (max-width: 480px) {
  .profile__job {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}
.profile__add-button {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background-image: url(../images/plus.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: auto;
  border: 2px solid white;
  border-radius: 2px;
  transition: opacity 0.5s;
  justify-self: end;
}
@media screen and (max-width: 480px) {
  .profile__add-button {
    margin-top: 7px;
  }
}
.profile__add-button:hover {
  opacity: 60%;
}

.elements {
  flex-basis: 100%;
}
.elements__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  column-gap: 17px;
  row-gap: 18px;
}
@media screen and (max-width: 480px) {
  .elements__list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 20px;
  }
}
.elements__item {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
  max-width: 100%;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: baseline;
}
.elements__image {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.elements__caption {
  margin: 0;
  padding: 0;
  font-family: "Inter", Verdana, sans-serif;
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  flex-basis: 200px;
  flex-shrink: 10;
  padding: 26px 0;
  margin-left: 22px;
}
@media screen and (max-width: 480px) {
  .elements__caption {
    padding: 25px 0;
  }
}
.elements__like-button {
  display: block;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  width: 22px;
  height: 19px;
  background-image: url(../images/Like_state_normal.svg);
  background-repeat: no-repeat;
  background-position: center center;
  grid-area: like;
  transition: background-image 0.5s;
}
.elements__like-button:hover {
  background-image: url(../images/Like_state_hover.svg);
}
.elements__like-button:active {
  background-image: url(../images/Like_state_active.svg);
}

.footer {
  margin-right: auto;
  margin-left: 0;
}
.footer__copyright {
  margin: 0;
  padding: 0;
  font-family: "Inter", Verdana, sans-serif;
  color: rgb(84, 84, 84);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: font-size 1s;
}
@media screen and (max-width: 480px) {
  .footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

.popup {
  font-family: "Inter", Verdana, sans-serif;
  color: black;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}
.popup_show {
  display: flex;
}
.popup__window {
  position: relative;
  margin: 19px;
  padding: 36px;
  flex-basis: 430px;
  background-color: white;
  border-radius: 10px;
  transition: padding 1s;
}
@media screen and (max-width: 700px) {
  .popup__window {
    padding: 22px;
  }
}
.popup__header {
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
  font-family: "Inter", Verdana, sans-serif;
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  transition: font-size 1s;
}
@media screen and (max-width: 480px) {
  .popup__header {
    font-size: 18px;
    line-height: 22px;
  }
}
.popup__user-info {
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
}
.popup__close {
  display: block;
  position: absolute;
  right: -40px;
  top: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../images/Close_normal.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: opacity 0.3s, right 1s, height 1s, width 1s;
}
@media screen and (max-width: 700px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
  }
}
.popup__close:hover {
  opacity: 60%;
}
.popup__submit {
  border: 0;
  border-radius: 5px;
  width: 100%;
  background: #000000;
  color: #fff;
  padding: 14px 14px;
  font-size: 16px;
  transition: opacity 1s;
}
@media screen and (max-width: 480px) {
  .popup__submit {
    font-size: 14px;
    line-height: 17px;
  }
}
.popup__submit:hover {
  cursor: pointer;
  opacity: 80%;
}

.user-info {
  border: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.user-info__input {
  flex-basis: 100%;
  padding-bottom: 13px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: font-size 1s;
}
@media screen and (max-width: 480px) {
  .user-info__input {
    font-size: 14px;
    line-height: 17px;
  }
}

/*# sourceMappingURL=index.css.map */
