$color1: black;
$color2: white;
// Преимущественно для ховер-состояний
$color3: rgba(84, 84, 84, 0.7);
// Фон для всплывашки
$color4: rgba(0, 0, 0, 0.5);
$color5: gray;
// Медиа-запросы
$mediaTablet: 700px;
$mediaMobil: 480px;
@mixin font-base($color: white) {
  font-family: "Inter", Verdana, sans-serif;
  color: $color;
}
@mixin margin-0 {
  margin: 0;
  padding: 0;
}
@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
* {
  // outline: 1px solid #006eff;
}
.main {
  background-color: $color1;
  @include font-base();
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
.page {
  max-width: 880px;
  padding: 45px 19px 60px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: padding 1s;
  @media screen and (max-width: $mediaMobil) {
    padding: 28px 0 36px;
  }
  // .page__header
  &__header {
    margin-bottom: 40px;
    @media screen and (max-width: $mediaMobil) {
      margin-bottom: 42px;
    }
  }
  // .page__profile
  &__content {
    @media screen and (max-width: $mediaMobil) {
      padding: 0 19px;
    }
  }
  &__profile {
    margin-bottom: 50px;
    @media screen and (max-width: $mediaMobil) {
      margin-bottom: 36px;
    }
  }
  // .page__elements
  &__elements {
    margin-bottom: 66px;
    @media screen and (max-width: $mediaMobil) {
      margin-bottom: 49px;
    }
  }
  &__footer {
    margin-right: auto;
    margin-left: 0;
    @media screen and (max-width: $mediaMobil) {
      padding: 0 19px;
    }
  }
}
.header {
  flex-grow: 1;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
  // .header__logo
  &__logo {
    @include margin-0();
    width: 142px;
    margin-bottom: 37px;
    transition: width 1s, padding 1s;
    @media screen and (max-width: $mediaTablet) {
      width: 103px;
      // height: 24.4px;
    }
    @media screen and (max-width: $mediaMobil) {
      padding: 0 28px;
      margin-bottom: 28px;
      // height: 24.4px;
    }
  }
}
.content {
  @include font-base(white);
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
}
.profile {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  grid-template-rows: auto;
  align-items: center;
  justify-items: start;
  gap: 30px;
  @media screen and (max-width: $mediaTablet) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    gap: 26px;
  }
  // grid-auto-rows: auto;
  // .profile__photo
  &__photo {
    max-width: 120px;
    object-fit: cover;
    border-radius: 50%;
  }
  // .profile__profile-info
  &__profile-info {
    // max-width: 336px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    @media screen and (max-width: $mediaTablet) {
      justify-content: center;
      align-items: center;
    }
    @media screen and (max-width: $mediaMobil) {
      justify-content: center;
      align-items: center;
    }
  }
  // .profile__name
  &__name {
    @include margin-0();
    @include font-base();
    margin-bottom: 8px;
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    transition: font-size 1s, margin 1s;
    @media screen and (max-width: $mediaTablet) {
      margin-bottom: 14px;
    }
    @media screen and (max-width: $mediaMobil) {
      font-size: 27px;
      line-height: 33px;
      text-align: center;
      margin-bottom: 7px;
    }
  }
  // .profile__edit-button
  &__edit-button {
    @include margin-0();
    position: absolute;
    right: -49px;
    top: 16px;
    width: 24px;
    height: 24px;
    background-image: url(../images/Edit_normal.svg);
    background-position: center center;
    background-color: transparent;
    background-size: cover;
    border: 0;
    cursor: pointer;
    transition: opacity 0.5s, width 1s, height 1s, scale 0.85s;
    @media screen and (max-width: $mediaMobil) {
      position: absolute;
      right: -28px;
      top: 9px;
      width: 18px;
      height: 18px;
      background-size: cover;
    }
    &:hover {
      opacity: 60%;
    }
    &:active {
      transform: scale(0.95);
    }
  }
  // .profile__job
  &__job {
    @include margin-0();
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    transition: font-size 1s, margin 1s;
    @media screen and (max-width: $mediaMobil) {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }
  }
  // .profile__add-button
  &__add-button {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background-image: url(../images/plus.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    background-size: auto;
    border: 2px solid white;
    border-radius: 2px;
    transition: opacity 0.5s, transform 0.3s;
    justify-self: end;
    cursor: pointer;
    @media screen and (max-width: $mediaMobil) {
      margin-top: 7px;
    }
    &:hover {
      opacity: 60%;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}
.elements {
  flex-basis: 100%;
  // .elements__element
  &__list {
    @include margin-0();
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    column-gap: 17px;
    row-gap: 18px;
    @media screen and (max-width: $mediaMobil) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      row-gap: 20px;
    }
  }
  &__item {
    list-style-type: none;
    @include margin-0();
    background-color: white;
    overflow: hidden;
    max-width: 100%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: baseline;
  }
  &__image {
    width: 100%;
    object-fit: contain;
    object-position: center center;
  }
  // .element__caption
  &__caption {
    @include margin-0();
    @include font-base($color1);
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    flex-basis: 200px;
    flex-shrink: 10;
    padding: 26px 0;
    margin-left: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    @media screen and (max-width: $mediaMobil) {
      padding: 25px 0;
    }
  }
  // .element__like-button
  &__like-button {
    display: block;
    @include margin-0();
    margin-right: 20px;
    width: 22px;
    border: none;
    height: 19px;
    background-image: url(../images/Like_state_normal.svg);
    background-repeat: no-repeat;
    background-position: center center;
    grid-area: like;
    transition: background-image 0.5s;
    cursor: pointer;
    &:hover {
      background-image: url(../images/Like_state_hover.svg);
    }
    &:active {
      background-image: url(../images/Like_state_active.svg);
    }
  }
}
.footer {
  // .footer__copyright
  &__copyright {
    @include margin-0();
    @include font-base(rgba(84, 84, 84, 1));
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    transition: font-size 1s;
    @media screen and (max-width: $mediaMobil) {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }
  }
}
.popup {
  @include font-base(black);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  &_opened {
    display: flex;
  }
  &__container {
    // margin: auto;
    position: relative;
    margin: 19px;
    padding: 36px;
    flex-basis: 430px;
    // box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    transition: padding 1s;
    @media screen and (max-width: $mediaTablet) {
      padding: 22px;
    }
  }
  // .popup__header
  &__header {
    @include margin-0();
    margin-bottom: 54px;
    @include font-base(black);
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    transition: font-size 1s;
    @media screen and (max-width: $mediaMobil) {
      font-size: 18px;
      line-height: 22px;
    }
  }
  // .popup__form
  &__form {
  }
  // .popup__user-info
  &__user-info {
    @include margin-0();
    margin-bottom: 48px;
  }
  // .popup__close
  &__close {
    display: block;
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
    right: -40px;
    top: -40px;
    width: 32px;
    height: 32px;
    background-image: url(../images/Close_normal.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: opacity 0.3s, right 1s, height 1s, width 1s, scale 0.85s;
    @media screen and (max-width: $mediaTablet) {
      width: 20px;
      height: 20px;
      right: 0;
    }
    &:hover {
      opacity: 60%;
    }
    &:active {
      transform: scale(0.95);
    }
  }
  &__submit {
    border: 0;
    border-radius: 5px;
    width: 100%;
    background: #000000;
    color: #fff;
    padding: 14px 14px;
    font-size: 16px;
    transition: opacity 1s, scale 0.85s;
    @media screen and (max-width: $mediaMobil) {
      font-size: 14px;
      line-height: 17px;
    }
    &:hover {
      cursor: pointer;
      opacity: 80%;
    }
    &:active {
      transform: scale(0.99);
    }
  }
}
.user-info {
  border: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  // .user-info__input
  &__input {
    flex-basis: 100%;
    padding-bottom: 13px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: font-size 1s, border 0.3s;
      &:focus{
        outline: none;
        border-bottom: 1px solid black;
      }
    @media screen and (max-width: $mediaMobil) {
      font-size: 14px;
      line-height: 17px;
    }
  }
  // .user-info__submit
}
